.tutor__container {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0.5px 4px #389084, 0 0.5px;
  margin: 20px;
}

.tutor__img >img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.tutor__img {
  margin-right: 40px;
}

.tutor__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.tutor-btn {
  margin-left: 20px;
}

.tutor__desc {
  text-align: justify;
  text-justify: inter-word;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
    background-color: rgba(0,0,0,.0001) !important;
    border: none;
}

.modal-body > img {
  object-fit: contain;
  width: 400px;
}

.connect {
  background-color: #389084;
  border: none;
  color: #F5F5F5;
}
.find {
  background-color: #F5F5F5;
  font-size: 12px;
  font-weight: bold;
  color: #2C7593;
  width: 120px;
  border: none;
  float: right;
}
