.intake__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #389084;
  color: #F5F5F5;
  padding: 30px 0 100px 0;
}

.intake__top {
  width: 500px;
  margin: 0 auto;
}

.intake__topWrapper {
  width: 300px;
}

.intake__bottom {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 90px;
}

.intake__mid {
  color: #389084;
  background-color: #F5F5F5;
  width: 100vw;
  padding: 20px;

}

.intake__midWrapper {
  width: 500px;
  margin: 0 auto;
}

.subjects__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}

.subjectDiv {
  padding: 10px;
  background-color: #F5F5F5;
  color: black;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0.1px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.removeSub {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 900;
  color: firebrick;
  cursor: pointer;
}

.form-label {
  width: 100%;
}

.rangeData{
  float:right;
}

.emptyLine {
  width: 100%;
  background-color: #F5F5F5;
  height: 2px;
  margin-bottom: 20px;
}

.Intake_button {
  background-color: #F5F5F5;
  width: 125px;
  font-weight: bold;
  font-size: 13px;
}
