.login__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  min-height: 70vh;
}

.login__wrapper {
  padding: 30px 80px 30px 80px;
  background-color: rgba(144,201,193, 0.4);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0.1px;
  max-width: 500px;
  margin: 20px auto;
}

.login__header {
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.login__header > h2 {
  text-align: center;
}

.login__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginToggle {
  color: blue;
  cursor: pointer;
}

.signUp__footer {
  text-align: center;
}

/* .sign_up {
  margin-top: 60px;
} */
