.tutorlist__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 30px 0 120px 0;
  height: 105vw;
}

.tutorList__left {
  margin: 54px 10px 0 30px;
  width: 300px;
  color: #389084;
  background-color: rgba(144,201,193, 0.4);
  border-radius: 20px;
  padding: 30px;
  height: 400px;
}

.stdData__wrap {
  padding: 20px 0;
}

.stdData {
  background-color: whitesmoke;
  font-size: 16px;
  padding: 10px;
  border: none;
  height: 40px;
}

.stdPrompt {
  font-size: 20px;
  padding: 5px;
}
